<div class="row">
      <br>
        <div class="large-12 medium-12 columns" style="background-color:white !important;">
     		
     		<br>
          <div class="section-container tabs" data-section>
            <section class="section">
              <div class="large-9 medium-9 small-12 columns">
              <br>
              <img src="/assets/Contacto.png" >
              </div>
              <div class="large-3 medium-3 hide-for-small columns">
              <br>
              <br>
              <ul class="vcard" style="right:0px; position: absolute;">
                <li><strong>Información de Contacto</strong></li>
                <li>PBX: +57(6) 886-6109</li> 
                <li>Celular: 315-542-1986</li> 
                <li>Manizales - Caldas</li>
              </ul>
              </div>
              <br>
              <div class="large-12 medium-12 columns">
              <div class="content" data-slug="panel1">
                <form>
                  <div class="row collapse">
                    <div class="large-2 columns">
                      <label class="inline"><strong>Nombre</strong></label>
                    </div>
                    <div class="large-10 columns">
                      <input type="text" id="yourName" placeholder="Nombre y Apellido">
                    </div>
                  </div>
                  <div class="row collapse">
                    <div class="large-2 columns">
                      <label class="inline"><strong>Correo</strong></label>
                    </div>
                    <div class="large-10 columns">
                      <input type="text" id="yourEmail" placeholder="ejemplo@micorreo.com">
                    </div>
                  </div>
                  <div class="row collapse">
                    <div class="large-3 columns">
                      <label class="inline"><strong>Teléfono de Contacto</strong></label>
                    </div>
                    <div class="large-9 columns">
                      <input type="text" id="yourEmail" placeholder="Teléfono de Contacto">
                    </div>
                  </div>
                  <label style="font-size:16px;"><strong>Observaciones</strong></label>
                  <textarea rows="4"></textarea>
                  <button type="submit" class="radius button">Enviar</button>

                </form>
              </div>
            </section>
            
          </div>
        </div>
</div>