<br>
      <ul class="example-orbit" data-orbit data-options="pause_on_hover:false; timer_speed:7000;">
        <li><img src="/assets/marca.png" alt="slide 1"></li>
        <li><img src="/assets/JR1.png" alt="slide 2"></li>
        <li><img src="/assets/JR2.png" alt="slide 3"></li>
        <li><img src="/assets/JRcambios2.png" alt="slide 4"></li>
     </ul>

    
