<br>
<div class="row" style="background-color:white !important;">
<br>
<div class="large-12 medium-12 columns">
<img src="/assets/empresarios.png">
<br>
<br>
<hr>
<div class="small-8 small-centered columns">
  <img src="/assets/Quienes Somos.png">
</div>
	<br>
  <div class="large-12 medium-12 columns">
		<p class="text-justify"><strong>Comercializadora J.R.</strong> fue creada en 1990 y hoy en día es reconocida como una de las mayores comercializadoras de productos de aseo y uso personal en la región del país. Nuestros canales de ventas se componen de una página virtual y vendedores presenciales  que facilitan cada vez más la satisfacción de sus necesidades.</p> 
    <br>
    </div>
</div>
<hr>
<div class="large-6 columns">
  <img src="/assets/Misión.png">
  <br>
  <p class="text-justify"><strong>Comercializadora J.R.</strong> es una empresa nacional que se dedica a la comercialización de “productos líderes para gente líder”. Ofrecemos líneas de aseo y uso personal, entregando a nuestros clientes productos que generan excelente desarrollo comercial, rentabilidad y satisfacción al cliente final.</p> 

  </div>
  <div class="large-6 columns">
  <img src="/assets/Visión.png">
  <br>
  <p class="text-justify"><strong>Comercializadora J.R.</strong> será la empresa más importante en la comercialización de productos de aseo y uso personal en el país, así mismo será reconocida por brindar a nuestros clientes una atención personalizada y practica que genere satisfacción de sus necesidades y además que agregue valor a su negocio.</p> 
  <br>
  </div>

  <hr>

  <img src="/assets/Nuestros Aliados.jpg">
  <img src="/assets/Nuestras Marcas.jpg">
  </div>
